<div class="wrapper-layout-menu-top">
  <button #btnLeft (click)="handleButtonLeft()" class="btn left" nz-button>
    <span nz-icon nzTheme="outline" nzType="ora:arrow-left-circle"></span>
  </button>
  <ul [nzSelectable]="false" menuLayoutHorizontal nz-menu nzInlineIndent="2" nzMode="horizontal">
    <li nz-menu-item routerLink="/dashboard">
      <span [ngClass]="{ active: keyActive === null, 'text-nav-item': true }">Dashboard</span>
    </li>
    <li nz-menu-item *ngIf="currentUser?.roles?.includes('admin')">
      <span [ngClass]="{ active: keyActive === 5, 'text-nav-item': true }">Sản phẩm</span>
    </li>
    <!-- <ng-container *ngTemplateOutlet="tplMenu; context: { menu: menusNoiKiem, title: 'Nội kiểm', key: 4 }"></ng-container> -->
    <ng-container
      *ngTemplateOutlet="tplMenu; context: { menu: menusCongViec, title: 'Công việc', key: 9 }"></ng-container>
    <ng-container *ngTemplateOutlet="tplMenu; context: { menu: menusDM, title: 'Danh mục', key: 12 }"></ng-container>
    <ng-container *ngTemplateOutlet="tplMenu; context: { menu: menusQT, title: 'Quản trị', key: 13 }"></ng-container>
    <!-- template -->
    <ng-template #tplMenu let-menu="menu" let-title="title" let-key="key">
      <li *ngIf="menu?.length" nzPopoverOverlayClassName="layout-menu-popover" [nzPopoverContent]="tplDropdown"
        nz-menu-item nz-popover nzPopoverPlacement="bottomLeft">
        <span [ngClass]="{ active: keyActive === key, 'text-nav-item': true }"> {{ title }}</span>
        <ng-template #tplDropdown>
          <menu-top-dropdown [menus]="menu"></menu-top-dropdown>
        </ng-template>
      </li>
    </ng-template>
  </ul>
  <button #btnRight (click)="handleButtonRight()" class="btn right" nz-button>
    <span nz-icon nzTheme="outline" nzType="ora:arrow-right-circle"></span>
  </button>
</div>