<div class="wrapper-layout-menu-top">
  <button #btnLeft (click)="handleButtonLeft()" class="btn left" nz-button>
    <span nz-icon nzTheme="outline" nzType="ora:arrow-left-circle"></span>
  </button>
  <ul [nzSelectable]="false" menuLayoutHorizontal nz-menu nzInlineIndent="2" nzMode="horizontal">
    <li nz-menu-item routerLink="/home" *ngIf="!isAdmin">
      <span [ngClass]="{ active: keyActive === 7, 'text-nav-item': true }">Trang chủ</span>
    </li>
    <li nz-menu-item routerLink="/home/filter-tour" *ngIf="!isAdmin">
      <span [ngClass]="{active: keyActive === 8, 'text-nav-item': true }">Tour du lịch</span>
    </li>
    <li nz-menu-item routerLink="/home/about-me" *ngIf="!isAdmin">
      <span [ngClass]="{active: keyActive === 9, 'text-nav-item': true }">Về chúng tôi</span>
    </li>
    <li nz-menu-item routerLink="/home/my-booking" *ngIf="isClient">
      <span [ngClass]="{ active: keyActive === 10,'text-nav-item': true }">Booking</span>
    </li>
    <li nz-menu-item routerLink="/dashboard" *ngIf="isAdmin">
      <span [ngClass]="{active: keyActive === 11, 'text-nav-item': true }">Dashboard</span>
    </li>
    <ng-container *ngTemplateOutlet="tplMenu; context: { menu: menusSP, title: 'Sản phẩm', key: 1 }"></ng-container>
    <ng-container *ngTemplateOutlet="tplMenu; context: { menu: menusKH, title: 'Khách hàng', key: 2 }"></ng-container>
    <ng-container *ngTemplateOutlet="tplMenu; context: { menu: menusBK, title: 'Booking', key: 3 }"></ng-container>
    <ng-container
      *ngTemplateOutlet="tplMenu; context: { menu: menusCongViec, title: 'Công việc', key: 4 }"></ng-container>
    <ng-container *ngTemplateOutlet="tplMenu; context: { menu: menusDM, title: 'Danh mục', key: 5 }"></ng-container>
    <ng-container *ngTemplateOutlet="tplMenu; context: { menu: menusQT, title: 'Quản trị', key: 6 }"></ng-container>
    <!-- template -->
    <ng-template #tplMenu let-menu="menu" let-title="title" let-key="key">
      <li *ngIf="menu?.length" nzPopoverOverlayClassName="layout-menu-popover" [nzPopoverContent]="tplDropdown"
        nz-menu-item nz-popover nzPopoverPlacement="bottomLeft">
        <span [ngClass]="{ active: keyActive === key, 'text-nav-item': true }"> {{ title }}</span>
        <ng-template #tplDropdown>
          <menu-top-dropdown [menus]="menu"></menu-top-dropdown>
        </ng-template>
      </li>
    </ng-template>
  </ul>
  <button #btnRight (click)="handleButtonRight()" class="btn right" nz-button>
    <span nz-icon nzTheme="outline" nzType="ora:arrow-right-circle"></span>
  </button>
</div>