.img-upload {
  // padding: 5px;
  background-color: white;
  border-radius: 6%;
}

.img-circle {
  border-radius: 50%;
  // width: 50% !important;
  // border: 1px solid #9e9e9e;
}

.wrap-img {
  margin: auto;
}

.root {
  display: flex;

  .wrap-btn {
    padding-top: 10px;

    .btn-chon {
      width: 100%;
    }

    .btn-xoa {
      width: 100%;
    }
  }
}
