<ora-page-header title="Quận/Huyện" [action]="actionHeader">
  <ng-template #actionHeader>
    <dropdown-up-excel
      (onUpload)="onClickUpload($event)"
      urlMauFile="/assets/templateFile/ImportDanhMucHuyen.xlsx"
      [itemMenu1]="excelMenu1"
    >
      <ng-template #excelMenu1>
        <button class="margin-left-5" title="Xuất danh sách ra excel" type="button" nz-button nzType="link" (click)="exportExcel()">
          <i nz-icon nzType="export" nzTheme="outline"></i> Xuất Excel
        </button>
      </ng-template>
    </dropdown-up-excel>
    <button nz-button nzType="primary" (click)="showCreateOrEditModal()"><i class="fa fa-plus"></i>Thêm mới</button>
  </ng-template>
</ora-page-header>

<ora-layout-filter (onSearch)="refresh()">
  <form nz-form [formGroup]="rfFormGroup" nzLayout="vertical">
    <nz-row nzGutter="8">
      <nz-col nzLg="6" nzSm="12">
        <input formControlName="filter" nz-input placeholder="Nhập tên huyện hoặc mã huyện để tìm kiếm" />
      </nz-col>
      <nz-col nzLg="4" nzSm="6">
        <ora-select dirTinh [placeHolder]="'Chọn tỉnh/thành phố'" formControlName="tinhId"></ora-select>
      </nz-col>
    </nz-row>
  </form>
</ora-layout-filter>

<nz-table
  [nzData]="dataList"
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzLoading]="isTableLoading"
  [nzTotal]="totalItems"
  [nzShowTotal]="totalTpl"
  [(nzPageIndex)]="pageNumber"
  [(nzPageSize)]="pageSize"
  nzBordered="true"
  (nzPageIndexChange)="pageNumberChange()"
  (nzPageSizeChange)="refresh()"
>
  <thead (nzSortOrderChange)="gridSort($event)">
    <tr>
      <th nzAlign="center" width="10px">STT</th>
      <th nzAlign="center" width="100px">Thao tác</th>
      <th nzAlign="center" nzShowSort [nzSortFn]="true" nzColumnKey="id">Mã quận/huyện</th>
      <th nzAlign="center" nzShowSort [nzSortFn]="true" nzColumnKey="ten">Tên quận/huyện</th>
      <th nzAlign="center" nzShowSort [nzSortFn]="true" nzColumnKey="tenTinh">Tên tỉnh/thành phố</th>
      <th nzAlign="center" nzShowSort [nzSortFn]="true" nzColumnKey="cap">Cấp</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of dataList; index as i">
      <td nzAlign="center">{{ skipCount + i + 1 }}</td>

      <td nzAlign="center">
        <a nz-button nzType="link" nz-tooltip="{{ 'Edit' | translate }}" (click)="showCreateOrEditModal(dataItem)">
          <i nz-icon nzType="edit"></i>
        </a>
        <a nz-button nzType="link" nzDanger nz-tooltip="{{ 'Delete' | translate }}" (click)="delete(dataItem)">
          <i nz-icon nzType="delete"></i>
        </a>
      </td>
      <td nzAlign="center">{{ dataItem.id }}</td>
      <td>{{ dataItem.ten }}</td>
      <td>{{ dataItem.tenTinh }}</td>
      <td nzAlign="center">
        {{ dataItem.cap }}
      </td>
    </tr>
  </tbody>
</nz-table>
<ng-template #totalTpl let-range="range" let-total>
  <span class="kt-font-primary kt-font-bold">Tổng số bản ghi: {{ total }}</span>
</ng-template>
