################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.idea
**/node_modules
**/yarn.lock
**/.vs
**/bin
**/obj
**/_docker/outputs
**/_docker/Logs
**/Logs
**/logs.txt
src/angular/debug.log
src/angular/.scannerwork/.sonar_lock
src/angular/.scannerwork/report-task.txt
src/angular/sonar-project.properties
src/aspnet-core/.scannerwork/report-task.txt
src/angular/.scannerwork/css-bundle/stylelintconfig.json
src/aspnet-core/.scannerwork/.sonar_lock
src/aspnet-core/.tye/
src/angular/.scannerwork/css-bundle/package.json
src/angular/.scannerwork/sonarts-bundle/package.json
**wwwroot/temporary
/src/angular/package-lock.json
/src/aspnet-core/_logs
*.map
*.css
/src/aspnet-core/modules/newPMS.NgoaiKiem/src/HttpApi.Host/package-lock.json
/src/_logs/
/src/aspnet-core/modules/newPMS.NgoaiKiem/src/HttpApi.Host/wwwroot/sampleFiles/flex-cel/nhap-thong-so/Bieu-mau-dang-ky-vi-sinh-nhuom-soi.xls
