.example-list {
  min-height: 570px;
  background: transparent;
  overflow: hidden;
  display: block;
}

.example-list.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box {
  padding: 48px 12px 12px;
  background-color: #f0f0f0;
  border-radius: 4px;
  position: relative;
  height: 100%;
}

.content {
  height: 570px;
  overflow-y: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding: 0 12px;

  & > span {
    font-weight: 400;
  }

  div {
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 6px;
  }

  button {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 12px;
  }
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  margin-top: 20px;
}

.tag-icon {
  margin-right: 6px;
}
