@page
@model newPMS.Web.Pages.Account.ForgotPasswordModel
@{
}
@section styles {
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="@Url.Content("~/wwwroot/libs/bootstrap/css/bootstrap-grid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Pages/Account/Index.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo/logo-col.png" />
}
<div class="row main login-form">
    <div class="content-login">
        <div class="col-lg-12 col-sm-12 col-12 right">
            <div class="img-r">
                <img src="~/images/logo/logo.png" alt="">
            </div>
            <div class="bg-form">
                <h2>Quên mật khẩu</h2>
                <p>
                    <span>
                        Một liên kết đặt lại mật khẩu mới đã được gửi đến email
                        của bạn để đặt lại mật khẩu của bạn. Nếu bạn không nhận được email trong vòng vài phút, vui lòng <b>thử lại<b />
                    </span>
                </p>
                <form method="post">
                    <input asp-for="ReturnUrl" />
                    <input asp-for="ReturnUrlHash" />
                    <abp-input asp-for="Email" placeholder="Nhập email của bạn" style="background-color: #fff !important" label="Email" abp-auto-focus="true" required-symbol="false" />
                    @*<div class="row">
                        <div class="col-6">
                        <abp-button button-type="Link" type="button" class="login-btn " name="Action" value="back" action>Quay lại</abp-button>
                        <button type="button" class="login-btn btn btn-link "
                                        name="Action" value="back"
                                        onclick="history.go(-1)">
                                    Quay lại
                                </button>
                            </div>
                            <div class="col-6 text-right">

                            </div>
                        </div>*@
                    <abp-button button-type="Primary" style="background-color: #5FA11D" type="submit" class="login-btn mt-2 mb-3" name="Action" value="send">Gửi đi</abp-button>
                    <div class="action">
                        <div>
                            <a style="color: #5FA11D !important" name="Action" value="back"
                               onclick="history.go(-1)">
                                Đăng nhập
                            </a>
                        </div>
                        <div style="color: #425A70">
                            Nếu bạn chưa có tài khoản?
                            <a href="">Đăng kí</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <article>Copyright @@ 2020. <strong> Trung tâm kiểm chuẩn chất lượng xét nghiệm - Trường Đại học Y Hà Nội</strong></article>
    </div>
</div>