@page
@model newPMS.Web.Pages.Account.PasswordResetLinkSentModel
@{
}
@section styles {
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="@Url.Content("~/wwwroot/libs/bootstrap/css/bootstrap-grid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Pages/Account/Index.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo/logo-col.png" />
}

<div class="row main login-form">
    <div class="content-login">
        <div class="col-lg-12 col-sm-12 col-12 right">
            <div class="img-r">
                <img src="~/images/logo/logo.png" alt="">
            </div>
            <div class="bg-form">
                <h2>Đặt lại mật khẩu</h2>
                <p style="padding: 0 15px;">
                    Email khôi phục tài khoản đã được gửi đến địa chỉ e-mail của bạn. Nếu bạn không thấy email này trong hộp thư đến của mình trong vòng 15 phút, hãy tìm nó trong thư mục thư rác của bạn. Nếu bạn tìm thấy nó ở đó, vui lòng đánh dấu nó là -Không phải thư rác- .
                </p>
                <a href="@Url.Page("./Login", new { returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash })" class="btn-rp">
                    ← Quay lại trang đăng nhập
                </a>
            </div>
        </div>
        <article>Copyright @@ 2020. <strong> Trung tâm kiểm chuẩn chất lượng xét nghiệm - Trường Đại học Y Hà Nội</strong></article>
    </div>
</div>


