.root {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  // padding-top: 15px;

  .title {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    color: #255586;
  }

  .action {
  }

}


@media (max-width: 1440px) {
  .root .title {
    font-size: 18px;
  }
}
