//<div class="bar-area border-rad" [ngStyle]="{backgroundColor:colorBackground}">
//<div class="border-rad bar-value"
//content-bottom"

.bar-area {
  z-index: 0;
  position: relative;
}

.border-rad {
  border-radius: 16px;
}

.bar-value {
  position: relative;
  transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
}

.bar-value::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 10px;
  opacity: 0;
  -webkit-animation: ant-progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  animation: ant-progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  content: '';
}

.content-data {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  .text {
  }
  .percent {
  }
}
