<section (keydown.enter)="searchEvent.emit(searchModel)" class="section-search">
  <div nz-row nzLayout="horizontal">
    <div
      nz-col
      class="gutter-row ord-form-control"
      [nzSm]="searchLayout.controlWidth != null ? searchLayout.controlWidth : 18"
      [nzXs]="searchLayout.controlWidth != null ? searchLayout.controlWidth : 18"
    >
      <div class="row main-search-box">
        <div class="col-md-12">
          <ord-dynamic-form
            #normalSearch
            [listOfFormItems]="searchLayout.groups"
            [focusFirstItem]="false"
            [dataForm]="searchModel"
            (dataFormChange)="onChangeDataForm($event)"
            (searchEvent)="searchEvent.emit(searchModel)"
            (refreshFilterEvent)="refreshFilterEvent.emit()"
            (resetSearchEvent)="resetSearch()"
            [hasBtnSearchBottom]="hasBtnSearchBottom"
            style="width: 100%"
          >
          </ord-dynamic-form>
        </div>
      </div>
      <!--tìm kiếm nâng cao -->
      <div class="advanced-search-box row" [hidden]="showAdvancedSearch === false">
        <div class="col-md-12">
          <ord-dynamic-form
            [listOfFormItems]="searchLayout.advanceGroups"
            [focusFirstItem]="false"
            [dataForm]="searchModel"
            (searchEvent)="searchEvent.emit(searchModel)"
            (resetSearchEvent)="resetSearch()"
            (dataFormChange)="onChangeDataForm($event)"
            style="width: 100%"
          ></ord-dynamic-form>
        </div>
      </div>

      <!-- <div class="row" *ngIf="hasAdvancedSearch">
        <div class="col-md-12">
          <a class="kt-font-info kt-font-bold" (click)="clickShowAdvancedSearch()" *ngIf="showAdvancedSearch === false"> <i class="fa fa-angle-double-down"></i> Hiện tìm kiếm nâng cao </a>
          <a class="kt-font-info kt-font-bold" (click)="clickHideAdvancedSearch()" *ngIf="showAdvancedSearch === true"> <i class="fa fa-angle-double-up"></i> Ẩn tìm kiếm nâng cao </a>
        </div>
      </div> -->
    </div>
    <div nz-col class="gutter-row ord-form-control" [nzXs]="searchLayout.controlWidth != null ? 24 - searchLayout.controlWidth : 6">
      <div class="group-control-search-box search-group">
        <button
          *ngIf="hasAdvancedSearch"
          nz-button
          nzType="primary"
          class="margin-top-31"
          (click)="showAdvancedSearch === false ? clickShowAdvancedSearch() : clickHideAdvancedSearch()"
        >
          <i class="fa fa-angle-double-down" *ngIf="showAdvancedSearch === false"></i>
          <i class="fa fa-angle-double-up" *ngIf="showAdvancedSearch === true"></i>
        </button>
        <button nz-button nzType="primary" class="margin-top-31" (click)="searchEvent.emit(searchModel)">
          <i nz-icon nzType="search" nzTheme="outline"></i> Tìm kiếm
        </button>
        <button nz-button nzType="default" class="margin-top-31" (click)="resetSearch()">
          <i nz-icon nzType="reload" nzTheme="outline"></i> Đặt lại
        </button>
      </div>
    </div>
  </div>
</section>
