@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đăng ký tài khoản";
}
<div class="customer">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="img">
                <img src="~/images/logo/register-img.png" />
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-12 bg-white">
            <div class="customer-form">
                <div class="text-center">
                    <img src="~/images/logo/logo.png" />
                </div>
                <h2>
                    <span>Đăng ký tài khoản thành công</span>
                </h2>
                <div class="text-center">
                    <img style="margin:0 auto 20px auto;" src="~/images/check.png" />
                </div>
                <p class="text-center" style="color: #27ae60">
                    Cảm ơn bạn đã đăng ký. Chúng tôi sẽ xem xét và duyệt tài khoản của bạn!
                </p>
                <div class="text-center">
                    <a style="padding:0 30px; margin-top:30px; width:auto; display:inline-block;" href="@ViewBag.AngularUrl">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>
