<ng-container *ngIf="viewShow === 'list'">
  <ora-page-header [action]="actionHeader"
    [title]="permission.lanhDao ? 'Danh sách công việc' : 'Danh sách công việc được giao'">
    <ng-template #actionHeader>
      <button (click)="createOrUpdate()" *ngIf="permission.lanhDao" nz-button nzType="primary"><i
          class="fa fa-plus"></i> Dự án mới</button>
    </ng-template>
  </ora-page-header>
  <div class="box-filter">
    <form [formGroup]="rfFormGroup" nz-form>
      <div nz-row nzGutter="16">
        <nz-col nzLg="6">
          <input formControlName="filter" nz-input placeholder="Nhập tên dự án để tìm kiếm" />
        </nz-col>
        <nz-col nzLg="4">
          <ora-date-picker formControlName="fromDate" placeHolder="Từ ngày"> </ora-date-picker>
        </nz-col>
        <nz-col nzLg="4">
          <ora-date-picker formControlName="toDate" placeHolder="Đến ngày"> </ora-date-picker>
        </nz-col>
        <nz-col nzSpan="4" *ngIf="permission.truongPhong || permission.nhanVien">
          <nz-select style="width: 100%" nzAllowClear nzShowSearch formControlName="sysUserId"
            nzPlaceHolder="Người giao">
            <nz-option *ngFor="let item of listNguoiGiao" [nzLabel]="item.displayText"
              [nzValue]="item.value"></nz-option>
          </nz-select>
        </nz-col>
        <nz-col nzLg="2" nzMd="4">
          <button (click)="refresh()" nz-button nzType="primary">Tìm kiếm</button>
        </nz-col>
      </div>
    </form>
  </div>
  <ora-table [rows]="dataList" [scroll]="{ y: scroll.y }" [totalRows]="totalItems" [(page)]="pageNumber"
    [(pageSize)]="pageSize" [isLoading]="isTableLoading" (pageChange)="pageNumberChange()" (pageSizeChange)="refresh()"
    (sortChange)="gridSort($event)">
    <ora-column align="center" header="STT" width="80px">
      <ng-template let-data oraCell>
        {{ skipCount + dataList.indexOf(data) + 1 }}
      </ng-template>
    </ora-column>
    <ora-column header="Tên" headerAlign="left" key="ten" width="400px"></ora-column>
    <ora-column align="center" header="Ưu tiên" key="IsUuTien" width="80px" [sort]="true">
      <ng-template let-data oraCell>
        <span *ngIf="data.isUuTien" nz-icon nzType="star" nzTheme="fill" style="color:#ffc107;"></span></ng-template>
    </ora-column>
    <ora-column header="Thời gian từ" key="NgayBatDau" width="120px" [sort]="true">
      <ng-template let-data oraCell>
        {{ data.ngayBatDau | date : 'dd/MM/yyyy' }}
      </ng-template>
    </ora-column>
    <ora-column header="Thời gian đến" key="NgayKetThuc" width="120px" [sort]="true">
      <ng-template let-data oraCell>
        {{ data.ngayKetThuc | date : 'dd/MM/yyyy' }}
      </ng-template>
    </ora-column>
    <ora-column align="center" header="Trạng thái" headerAlign="center" width="120px">
      <ng-template let-data oraCell>
        <ng-container [ngSwitch]="data.trangThai">
          <nz-tag *ngSwitchCase="TRANG_THAI_CONG_VIEC.TAO_MOI">Tạo mới</nz-tag>
          <nz-tag *ngSwitchCase="TRANG_THAI_CONG_VIEC.DANG_THUC_HIEN" nzColor="gold">Đang thực hiện</nz-tag>
          <nz-tag *ngSwitchCase="TRANG_THAI_CONG_VIEC.HOAN_THANH" nzColor="green">Đã hoàn thành</nz-tag>
        </ng-container>
      </ng-template>
    </ora-column>

    <ora-column header="Thành viên" width="120px">
      <ng-template let-data oraCell>
        <nz-avatar-group>
          <ng-container *ngFor="let u of data.listUser.slice(0, 2)">
            <nz-avatar [nzSrc]="api + u.userId" nz-tooltip="{{ u.hoTen }}" nzIcon="user"></nz-avatar>
          </ng-container>
          <ng-container *ngIf="data.listUser.length > 2">
            <nz-avatar [nzText]="getNzText(data.listUser.length)"
              style="background-color: #fde3cf; color: #f56a00"></nz-avatar>
          </ng-container>
        </nz-avatar-group>
      </ng-template>
    </ora-column>

    <ora-column [content]="contentAction" align="center" fixRight header="Thao tác" width="120px">
      <ng-template #contentAction let-data="dataItem">
        <button [nzDropdownMenu]="menu" nz-button nz-dropdown>
          Thao tác
          <i nz-icon nzType="down" style="font-size: 12px !important"></i>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <a (click)="chiTietCongViec(data)"> <span nz-icon nzTheme="outline" nzType="edit"></span> Cập nhật công
                việc </a>
            </li>
            <li *ngIf="data.trangThai !== TRANG_THAI_CONG_VIEC.HOAN_THANH && permission.lanhDao && data.isMyCreate"
              nz-menu-item>
              <a (click)="createOrUpdate(data)"> <span nz-icon nzTheme="outline" nzType="edit"></span> Cập nhật dự án
              </a>
            </li>
            <li *ngIf="permission.nhanVien || !data.isMyCreate" nz-menu-item>
              <a (click)="createOrUpdate(data, true)"> <span nz-icon nzTheme="outline" nzType="eye"></span> Xem dự án
              </a>
            </li>
            <li *ngIf="permission.lanhDao" nz-menu-item>
              <a (click)="cloneDuAn(data)"> <span nz-icon nzTheme="outline" nzType="copy"></span>Nhân bản dự án
              </a>
            </li>
            <li *ngIf="(permission.lanhDao || permission.truongPhong) && data.isMyCreate" nz-menu-item>
              <a (click)="viewCongViec(data)"> <span nz-icon nzTheme="outline" nzType="eye"></span> Xem công việc </a>
            </li>
            <li
              *ngIf="(permission.lanhDao || permission.truongPhong) && data.trangThai === TRANG_THAI_CONG_VIEC.TAO_MOI"
              nz-menu-item>
              <a (click)="changeTrangThai(data, TRANG_THAI_CONG_VIEC.DANG_THUC_HIEN)">
                <span nz-icon nzTheme="outline" nzType="file-sync"></span> Đang thực hiện
              </a>
            </li>
            <li
              *ngIf="(permission.lanhDao || permission.truongPhong) && data.trangThai === TRANG_THAI_CONG_VIEC.DANG_THUC_HIEN"
              nz-menu-item>
              <a (click)="changeTrangThai(data, TRANG_THAI_CONG_VIEC.HOAN_THANH)">
                <span nz-icon nzTheme="outline" nzType="file-done"></span> Hoàn thành
              </a>
            </li>
            <li *ngIf="permission.lanhDao && data.isMyCreate" nz-menu-item>
              <a (click)="delete(data)"> <span nz-icon nzTheme="outline" nzType="delete" style="color: #f04"></span> Xóa
                dự án </a>
            </li>
          </ul>
        </nz-dropdown-menu>
      </ng-template>
    </ora-column>
  </ora-table>
</ng-container>

<chi-tiet-cong-viec-truong-phong-lanh-dao (backListEvent)="onBackToList()" *ngIf="viewShow === 'crud-cong-viec'"
  [duAn]="duAn" [permission]="permission"></chi-tiet-cong-viec-truong-phong-lanh-dao>

<chi-tiet-cong-viec-nhan-vien (backListEvent)="onBackToList()" *ngIf="viewShow === 'crud-cong-viec-nhan-vien'"
  [duAn]="duAn" [permission]="permission">
</chi-tiet-cong-viec-nhan-vien>