<div class="about-me">
    <div class="banner">
        <div class="banner-content">
            <h1>Du lịch thật dễ dàng cùng MTravel</h1>
            <p>MTravel - Trang web tìm kiếm tour du lịch hàng đầu Việt Nam</p>
            <img src="https://cdn.justfly.vn/527x527/media/images/about-us-trip.svg" />
        </div>
        <p class="quote">“Hãy ngắm nhìn thế giới. Điều đó tuyệt vời hơn bất cứ giấc mơ nào”. Câu nói của Ray Bradbury
            thực sự đã thôi
            thúc chúng tôi tạo nên MTravel - nơi kiến tạo cảm hứng du lịch cho hàng triệu người khắp nơi trên thế
            giới. Với MTravel bạn có thể dễ dàng tìm kiếm các thông tin du lịch hữu ích, các sản phẩm du lịch tốt nhất
            cho những hành trình ngắm nhìn thế giới tươi đẹp.

        </p>
    </div>
    <section class="su-menh">
        <img alt="Contact us" layout="fixed" loading="lazy"
            src="https://cdn.justfly.vn/900x500/media/202104/03/1617428927-contact-us-background.png" srcset="" sizes=""
            class="MediaImage-image css-szrbyq">
        <div class="su-menh-text">
            <h3>Sứ mệnh</h3>
            <h4>Sứ mệnh của MTravel là đồng hành cùng bạn trong các chuyến đi.</h4>
            <p>Bằng việc lựa chọn và tư vấn các sản phẩm du lịch tốt nhất, phù hợp nhất MTravel cam kết sẽ giúp chuyến
                đi của bạn được trọn vẹn. Mọi thứ chúng tôi làm đều bắt đầu từ bạn. Bạn có thể dễ dàng tìm kiếm các
                thông tin về du lịch, đặt dịch vụ và trải nghiệm trên một nền tảng duy nhất. Mục đích của MTravel là
                cung cấp các thông tin du lịch, sản phẩm du lịch 1 cách chính xác và có chọn lọc theo các tiêu chí..nhằm
                đem lại trải nghiệm đúng theo nhu cầu của khách hàng...cung cấp thông tin du lịch chính xác & hữu ích,
                cung cấp những sản phẩm du lịch có chọn lọc.</p>
        </div>
    </section>
</div>