ul {
  padding: 0;

  li {
    list-style: none;
    padding: 3px 0;
    //display: flex;
    position: relative;
  }
}

.ul-root {
  margin: 0;
  padding: 0 10px 0 0;
  border-right: 1px solid #f0f0f0;
}

.menu-item {
  cursor: pointer;

  .content {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      display: flex;
    }

    .extend {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .menu-sub {
  }

  .img-icon {
    height: 20px;
    width: 20px;
  }
}

.menu-active {
  background: #e6f7ff;
  color: #1890ff;
  font-weight: 700;
}

.menu-active:after {
  transform: scaleY(1);
  opacity: 1;
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 3px solid #1890ff;
  content: '';
}

.form-area {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;

  .search__input {
    width: 100%;
    padding: 12px 12px 12px 20px;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 97% center;
    border-radius: 50px;
    border: none;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    ::placeholder {
      //color: color(#575756 a(0.8));
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }

  .search__input:focus,
  .search__input:hover {
    padding: 12px 12px 12px 15px;
    outline: 0;
    //border: 1px solid transparent;
    //border-bottom: 1px solid #575756;
    border-radius: 8px;
    background-position: 99% center;
  }
}

.item-menu {
  cursor: pointer;
}
