<ora-layout-filter (onSearch)="refresh()">
    <form nz-form [formGroup]="rfForm" nzLayout="vertical">
        <nz-row nzGutter="8">
            <nz-col nzLg="6" nzSm="6">
                <nz-form-label [nzSm]="24">Từ khóa tìm kiếm</nz-form-label>
                <input formControlName="filter" nz-input placeholder="Nhập mã, tên để tìm kiếm" />
            </nz-col>
            <nz-col>
                <button nz-button>Thêm mới</button>
            </nz-col>
        </nz-row>
    </form>
</ora-layout-filter>
<ora-table>
    <ora-column header="STT" width="100px" align="center">
        <ng-template oraCell let-data>
            <!-- {{ skipCount + dataList.indexOf(data) + 1 }} -->
        </ng-template>
    </ora-column>
    <ora-column header="Họ và tên" key="ten" align="center"></ora-column>
    <ora-column header="Phòng bân" key="phongBan" align="center"></ora-column>
    <ora-column header="Chức vụ" key="soPhong" align="center"></ora-column>
    <ora-column header="Số điện thoại" key="fax" align="center"></ora-column>
    <ora-column header="Email" key="email" align="center"></ora-column>
    <ora-column header="Thao tác" [content]="contentAction" width="150px" align="center">
        <ng-template #contentAction let-data="dataItem">
            <a nz-button nzType="link" nz-tooltip="{{ 'Edit' | translate }}" (click)="showCreateOrUpdate(data)">
                <i nz-icon nzType="edit"></i>
            </a>
            <a nz-button nzType="link" nzDanger nz-tooltip="{{ 'Delete' | translate }}" (click)="delete(data)">
                <i nz-icon nzType="delete"></i>
            </a>
        </ng-template>
    </ora-column>
</ora-table>