.header {
    padding: 8px 10px;
    background-color: #F1F1F1;
    color: #000;
    font-weight: 600;
}

.mt12 {
    margin-top: 12px;
}

.footerbutton {
    float: right;

    button {
        margin-bottom: 20px;
    }
}