:host ::ng-deep {
  .ant-tabs-card.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
    margin: 7px 0 0 0 !important;
  }

  .ant-tabs-card.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab-active {
    position: relative;
    border-radius: 0 !important;

    &::before {
      position: absolute;
      content: '';
      top: 0px;
      left: 0px;
      width: 4px;
      height: 100%;
      background-color: #3795d0;
    }

    .head-example {
      color: #3795d0 !important;
    }
  }
}
