<div class="dashboard">
  <div class="general-box">
    <nz-row nzGutter="24">
      <nz-col nzLg="6">
        <div class="g-box one">
          <img src="../../../assets/images/g-one.png" />
          <p>Số lượng booking dã đặt</p>
          <h3>125,600</h3>
        </div>
      </nz-col>
      <nz-col nzLg="6">
        <div class="g-box two">
          <img src="../../../assets/images/g-two.png" />
          <p>Số lượng khách hàng</p>
          <h3>20</h3>
        </div>
      </nz-col>
      <nz-col nzLg="6">
        <div class="g-box three">
          <img src="../../../assets/images/g-three.png" />
          <p>Tổng doanh thu</p>
          <h3>400.000,000</h3>
        </div>
      </nz-col>
    </nz-row>
  </div>
  <div class="dash-box">
    <div class="dash-head">
      <h2>Doanh thu theo tháng</h2>
      <div class="filter" [formGroup]="rfFormGroup">
        <ora-date-picker formControlName="denNgay" placeHolder="Ngày bắt đầu"></ora-date-picker>
      </div>
    </div>
    <div id="doanhThuTheoThang" style="height: 580px"></div>
  </div>
</div>