<div class="alain-default__progress-bar" *ngIf="isFetching"></div>
<div class="ora-layout">
  <div class="ora-header" style="background: #fff;">
    <div class="logo">
      <a [routerLink]="'/'" class="alain-default__header-logo-link"
        style="font-size: 30px; font-weight: 600; color: #000;">
        <span style="color:red">MTravel</span>
      </a>
    </div>
    <div class="content-header">
      <ng-container *ngTemplateOutlet="rightContent"></ng-container>
    </div>
  </div>
  <div class="menu-top">
    <layout-menu-top [menusSP]="menusSP" [menusDM]="menusDM" [menusQT]="menusQT" [menusKH]="menusKH" [menusBK]="menusBK"
      [currentUser]="currentUser"></layout-menu-top>
  </div>
  <div class="inner-layout">
    <div class="inner-content-layout">
      <ng-container *ngTemplateOutlet="content"></ng-container>
      <ng-content></ng-content>
    </div>
  </div>
</div>