<form nz-form #form [formGroup]="rfDataModal" nzLayout="horizontal" (keydown.enter)="save()">
  <nz-form-item nzGutter="6">
    <nz-form-label [nzSm]="8" nzRequired>Mật khẩu hiện tại</nz-form-label>
    <nz-form-control [nzSm]="16" nzErrorTip="Giá trị bắt buộc!">
      <input type="password" nz-input formControlName="currentPassword" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nzGutter="6">
    <nz-form-label [nzSm]="8" nzRequired>Mật mới</nz-form-label>
    <nz-form-control [nzSm]="16" nzErrorTip="Giá trị bắt buộc!">
      <input type="password" nz-input formControlName="password" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nzGutter="6">
    <nz-form-label [nzSm]="8" nzRequired>Nhắc lại mật khẩu</nz-form-label>
    <nz-form-control [nzSm]="16" [nzErrorTip]="errorTpl">
      <input type="password" nz-input formControlName="newPassword" />
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')"> Giá trị bắt buộc!</ng-container>
        <ng-container *ngIf="control.hasError('confirm')"> Mật khẩu không trùng khớp!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>
<div *nzModalFooter>
  <button type="button" nz-button nzType="default" (click)="close()">Đóng</button>
  <button type="button" nz-button nzType="primary" (click)="save()"><i nz-icon nzType="save"></i>Lưu</button>
</div>
