<div class="ct">
  <form nz-form [formGroup]="rfDataModal" (ngSubmit)="submitForm()">
    <img src="./../../../../assets/logo/logo-col.png" alt="logo-login" class="img-login"/>
    <h2>QUÊN MẬT KHẨU</h2>
    <p>Liên kết đặt lại mật khẩu sẽ được gửi đến email của bạn để đặt lại mật khẩu của bạn. Nếu bạn không nhận được
      email trong vòng vài phút, vui lòng thử lại.</p>
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzRequired>Email</nz-form-label>
      <nz-form-control [nzSpan]="24" [nzErrorTip]="tplErrEmail">
        <input nz-input placeholder="Nhập email của bạn" formControlName="email"/>
      </nz-form-control>
    </nz-form-item>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="24">
        <button nz-button nzType="primary" class="btn-register">GỬI ĐI</button>
      </div>
    </div>
  </form>
  <p class="c-r">Copyright @ 2023 Đại học Y Dược Thành phố Hồ Chí Minh - Bộ Y tế</p>
</div>

<ng-template #tplErrEmail let-control>
  <ng-container *ngIf="control.hasError('required')">{{ 'Giá trị không được để trống!' }} </ng-container>
  <ng-container *ngIf="control.hasError('email')">{{ 'Email chưa đúng định dạng!' }}</ng-container>
</ng-template>
<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
  [nzOkText]="null"
  nzClosable="true"
  [nzCancelText]="null"
  [nzTitle]="null"
>
  <div class="modal-success" *nzModalContent>
    <h3 class="modal-success__title">ĐẶT LẠI MẬT KHẨU</h3>
    <p class="modal-success__desc">Email khôi phục tài khoản đã được gửi đến địa chỉ e-mail của bạn. Nếu bạn không thấy
      email này trong hộp thư đến của mình trong vòng 15 phút, hãy tìm nó trong thư mục thư rác của bạn. Nếu bạn tìm
      thấy nó ở đó, vui lòng đánh dấu nó là -Không phải thư rác- </p>
    <a class="modal-success__link" (click)="handleLogin()" routerLink="/account/login"> Đăng nhập </a>
  </div>
</nz-modal>

<style>
  .modal-success {
    text-align: center;
  }

  .modal-success__img {
    display: inline-block;
  }

  .modal-success__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #2c353c;
    margin-top: 20px;
  }

  .modal-success__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #52606b;
    margin: 12px 0 30px;
    padding: 0 20px;
  }

  .modal-success__link {
    display: inline-block;
    background-color: #2F9DD7;
    padding: 13px 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    border-radius: 8px;
  }
</style>
