<div class="ct">
  <form nz-form [formGroup]="rfDataModal" (ngSubmit)="submitForm()">
    <img src="./../../../../assets/logo/logo-col.png" alt="logo-login" class="img-login" />
    <p class="login-bottom-title">
      KHÁM PHÁ TOUR VI VU <br />
      ĐI ĐÂU CŨNG CÓ ĐÃ CÓ MTRAVEL LO
    </p>
    <h2>Đăng ký tài khoản</h2>
    <div nz-row [nzGutter]="[12, 12]">
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="tplErr">
            <input nz-input placeholder="Thông tin email" formControlName="email" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="tplErr">
            <input nz-input placeholder="Tài khoản đặt nhập" formControlName="userName" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="tplErr">
            <nz-input-group [nzSuffix]="suffixTemplate">
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Nhập mật khẩu" formControlName="matKhau" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <a class="btn-register" (click)="submitForm()" nz-button [nzLoading]="rfDataModal.status === 'PENDING'">Đăng ký</a>
      </div>
      <div nz-col [nzSpan]="24">
        <a routerLink="/login" class="btn-login"
          >Chuyển sang Đăng nhập <span style="margin-left: 10px" nz-icon nzType="arrow-right" nzTheme="outline"></span
        ></a>
      </div>
    </div>
  </form>
  <p class="c-r">Copyright @ 2024 MTravel</p>
</div>

<ng-template #tplErr let-control>
  <ng-container *ngIf="control.hasError('required')">{{ 'Giá trị không được để trống!' }} </ng-container>
  <ng-container *ngIf="control.hasError('email')">{{ 'Email chưa đúng định dạng!' }}</ng-container>
  <ng-container *ngIf="control.hasError('isEmailExist')">{{ 'Email đã tồn tại!' }}</ng-container>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
  [nzOkText]="null"
  nzClosable="true"
  [nzCancelText]="null"
  [nzTitle]="null"
>
  <div class="modal-success" *nzModalContent>
    <img [ngClass]="'modal-success__img'" src="/assets/images/check-circle.png" alt="Check circle" />
    <h3 class="modal-success__title">Đăng ký tài khoản thành công</h3>
    <p class="modal-success__desc">Đăng ký thành công, đăng nhập để sử dụng</p>
    <a class="modal-success__link" (click)="handleLogin()" routerLink="/account/login"> Đăng nhập </a>
  </div>
</nz-modal>

<style>
  .modal-success {
    text-align: center;
  }

  .modal-success__img {
    display: inline-block;
  }

  .modal-success__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #2c353c;
    margin-top: 20px;
  }

  .modal-success__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #52606b;
    margin: 12px 0 30px;
    padding: 0 20px;
  }

  .modal-success__link {
    display: inline-block;
    background-color: #255586;
    padding: 13px 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    border-radius: 8px;
  }
</style>
