<ora-page-header title="Khách hàng" [action]="actionHeader">
  <ng-template #actionHeader>
    <button nz-button nzType="primary" (click)="showCreateOrUpdate()">
      <i nz-icon nzType="plus-circle" nzTheme="outline"></i>Thêm mới
    </button>
  </ng-template>
</ora-page-header>
<ora-layout-filter (onSearch)="refresh()">
  <form nz-form [formGroup]="rfForm" nzLayout="vertical">
    <nz-row nzGutter="8">
      <nz-col nzLg="6" nzSm="6">
        <input formControlName="filter" nz-input placeholder="Nhập mã, tên để tìm kiếm..." />
      </nz-col>
    </nz-row>
  </form>
</ora-layout-filter>
<ora-table [rows]="dataList" [isLoading]="isTableLoading" [totalRows]="totalItems" [(pageSize)]="pageSize"
  [(page)]="pageNumber" (pageChange)="pageNumberChange()" (sortChange)="gridSort($event)">
  <ora-column header="STT" width="100px" align="center">
    <ng-template oraCell let-data>
      {{ skipCount + dataList.indexOf(data) + 1 }}
    </ng-template>
  </ora-column>
  <ora-column header="Mã" key="ma" align="center" width="200px"></ora-column>
  <ora-column [sort]="true" header="Tên" key="ten" align="center"></ora-column>
  <ora-column header="Số điện thoại" key="soDienThoai" align="center"></ora-column>
  <ora-column header="Địa chỉ" key="diaChi" align="center"></ora-column>
  <ora-column header="Email" key="email" align="center" width="200px"> </ora-column>
  <ora-column header="Thao tác" width="100px" align="center" fixRight>
    <ng-template oraCell let-data>
      <button (click)="showCreateOrUpdate(data)" nz-button nzType="link">
        <i nz-icon nz-tooltip="Cập nhật thông tin" nzType="edit"> </i>
      </button>
    </ng-template>
  </ora-column>
</ora-table>